<!doctype html>
<h1 style="text-align: center">Find a movie to watch</h1>  #header 1
<h2 style="text-align: center">Log in now!</h2>  #header 2
<body style="background-color: black; color: white">
    <form>  # css code for text boxes
        <div class="container" style="text-align: center; padding-top: 150px">

            <label for="username"><b>Email</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <button><a href="http://127.0.0.1:5000/home/" class="loginbutton">Login</a></button>

        </div>
    </form>
</body>
