<!doctype html>
<h1 style="text-align: center">Find a movie to watch</h1>  # header 1
<h2 style="text-align: center">Register now!</h2>  #header 2
<body style="background-color: black; color: white" >
    <form>  # css code for text boxes
        <div class="container" style="text-align: center; padding-top: 150px">

            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter username" name="username" id="username" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <label for="password"><b>Verify Password</b></label>
            <input type="password" placeholder="Verify Password" name = "password" id="password" required>
            <button type="submit" class="registerbtn">register</button>

            <button><a href="http://127.0.0.1:5000/login/">login</a></button>

        </div>
    </form>
</body>
